@tailwind base;
@tailwind components;
@tailwind utilities;

@import "sidebar/sidebar";
@import "header/header";


body {
  background-color: rgb(243, 244, 249);
  font-family: 'Roboto';
}

.inner-view {
  margin-top: 72px;
  @apply pl-24;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1124px;
  }
}