@tailwind base;
@tailwind components;
@tailwind utilities;

@import "sidebar/sidebar";
@import "header/header";
@import "table/table";
@import "font";
@import "react-pagination";


body {
  background-color: rgb(243, 244, 249);
  font-family: 'Roboto';
}

.inner-view {
  padding-top: calc(72px + 32px);
  transition: all .3s ease-in-out;
}

.shown {
  .inner-view {
    @apply pl-24;
    transition: all .3s ease-in-out;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1124px;
  }
}