@import "header-right";

.header {
  height: 72px;
  transition: padding .3s ease-in-out;
  backdrop-filter: blur(8px);
}

.shown {
  .header {
    @apply pl-24;
    transition: padding .3s ease-in-out;
  }
}