.sidebar {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 21px 1px;
  z-index: 10;
  left: -80px;
  transition: left .3s ease-in-out;
}

.sidebar-backdrop {
  content: '';
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  backdrop-filter: blur(6px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  @media (min-width: 640px) {
    opacity: 0;
  }
}

.shown {
  .sidebar {
    left: 0;
    transition: left .3s ease-in-out;
  }
  
  .sidebar-backdrop {
      opacity: 1;
      pointer-events: unset;

      @media (min-width: 640px) {
        opacity: 0;
        pointer-events: none;
      }
  }
}