.sidebar {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 21px 1px;
  z-index: 10;
}

.sidebar-backdrop {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  transition: opacity .3s ease-in-out;

  @media (min-width: 640px) {
    opacity: 0;
  }
}